{% extends 'base_template.html' %}
{% load static %}

<!-- templates/addweapon.html -->
{% block title_block %}
  <title>Add Weapon</title>
{% endblock %}

{% block body_block %}
  <div class="container">
    <h1 class="text-center">Add New Weapon</h1>
    <a href="{% url 'Armory:index' %}" class="btn btn-primary" role="button">Go Back</a>
    <br /><br />

    <form method="POST">
      {% csrf_token %}
      <div class="mb-3">
        <label for="name" class="form-label">Weapon Name</label>
        {{ form.name }}
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        {{ form.description }}
      </div>
      <div class="mb-3">
        <label for="attack_power" class="form-label">Power</label>
        {{ form.attack_power }}
      </div>
      <div class="mb-3">
        <label for="weapon_type" class="form-label">Weapon Type</label>
        {{ form.weapon_type }}
      </div>
      <button type="submit" class="btn btn-primary">Add Weapon</button>
    </form>
  </div>
{% endblock %}
