<!DOCTYPE html>
<html lang="en">
{% load static %}

{% comment %} This is the base template that we can base other pages on {% endcomment %}

<head>
    <meta charset="UTF-8">
    {% block title_block %}{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'bootstrap.css' %}" rel="stylesheet">
    <script src="{% static 'bootstrap.bundle.js' %}"></script>
    <link href="{% static 'base_style.css' %}" rel="stylesheet">

</head>
<body>
    {% block body_block %}{% endblock %}
</body>
</html>